.vs/
[Oo]bj/
[Bb]in/
!/[Bb]in/
tmp/
Release/
Debug/
TDEngine2/docs/
out/

/build/cache/

TODO
  
*.opensdf
*.sdf
*.log
*.pdb
*.ilk

*.sln
*.user
*.filters
*.vcxproj

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake

CMakeSettings.json
metadata.h

TDEngine2/include/utils/Config.h

*.mesh
*.fbx

*.cfg